<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459852908372-r8pbld42c4kc2ue39fbfkibd3ssr2rtk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459852908372-r8pbld42c4kc2ue39fbfkibd3ssr2rtk</string>
	<key>API_KEY</key>
	<string>AIzaSyDDgO1C5DUlDV1cpKZOBrHVVVTQKDE7XHY</string>
	<key>GCM_SENDER_ID</key>
	<string>459852908372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weChat</string>
	<key>PROJECT_ID</key>
	<string>my-chat-46c49</string>
	<key>STORAGE_BUCKET</key>
	<string>my-chat-46c49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459852908372:ios:0da39a6ac9a4d0e4136ac1</string>
</dict>
</plist>